body {
    max-width: 300px;
    margin: 0 auto;
    background-color: #a7ddf9;
}

img{
    padding: 10px 10px 10px 10px;
}

#logo{
    padding: 0px 0px 0px 0px;

}
h2{
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

h4{
    color: white;
    font-family: 'Raleway', sans-serif;
}

h4{
    font-family: 'Raleway' sans-serif;
    color: black;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: -10px;
}

#title{
    padding: 5px;
    background-color: #333638;
    color: white;
    margin-top: 0px;
}

.applause-btn {
    background-image: url('../img/applause.jpg');
    background-size: 281px 187px;
    width: 281px; 
    height: 187px;
    margin: 10px;
}

.applause-btn, .gif {
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    touch-callout: none;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none; 
}

progress {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Determinate */
progress[value] {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* Indeterminate */
progress:not([value]) {
    /* Reset the default appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

progress::-webkit-progress-bar {
    background: #EEE;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
}

progress::-webkit-progress-value {
    background-color: #993399;
    border-radius: 3px;
}

progress {
    background: #993399;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
    border-radius: 3px;
    margin: 10px;
    width: 281px;
}

progress::-moz-progress-bar {
    background-color: #993399;
    border-radius: 3px;
}

p.sessions {
    margin: 0px;
}

.button{
    margin-left: 10px;
    width: 95%;
    font-family: 'Raleway', sans-serif;
}

.s-button {
    margin-left: 0px;
    width: 100%;
    margin-bottom: 3px;
    text-align: left;
    font-size: 14px;
}


.sessions span {
    width: 50px;
    display: inline-block;
    text-align: right;
    padding-right: 10px;
}

